<mat-toolbar color="primary">
  <span>AH-Eye</span>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-select placeholder="Select a Region"  formControlName="region">
        <mat-option *ngFor="let region of regions" [value]="region">
          {{region}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Select a Realm" matInput [matAutocomplete]="realmAutocomplete" formControlName="realm"/>
      <mat-autocomplete autoActiveFirstOption #realmAutocomplete="matAutocomplete">
        <mat-option *ngFor="let realm of realms" [value]="realm">
          {{realm}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

</mat-toolbar>
